* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0.5% 10%;
}

.nav ul {
    display: flex;
    gap: 16px
}

li {
    list-style: none;
}

li a {
    color: #F9FAF8;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
}

.hero {
    padding: 64px 10%;
    background-color: #1F2937;
    display: flex;
}

.call-to-action-hero {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
}

.hero img {
    flex: 1 0 50%;
    background-color: grey;
}

.call-to-action-hero h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.call-to-action-hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.call-to-action-hero button {
    background-color: #3882F6;
    border-radius: 8px;
    border: 0;
    padding: 6px 10px;
    width: 100px;
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 14px;
}

.cards-area {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 48px 20% 96px 20%;
}

.cards-area h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    gap: 6px;
}

.card div{
    height: 150px;
    width: 150px;
    border: #3882F6;
    border-style: solid;
    border-radius: 16px;
}

.card p {
    color: #707172;
}

.quote {
    background-color: #E5E7EB;
    padding: 96px 25%;
}

.quote h2 {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}

.quote p {
    text-align: end;
    font-size: 18px;
    font-weight: 900;
}

.call-to-action-container {
    padding: 96px 20%;
}

.call-to-action {
    background-color:#3882F6;
    display: flex;
    border-radius: 8px;
    padding: 48px 10%;
    justify-content: space-between;
    align-items: center;
}

.call-to-action button {
    background-color: #3882F6;
    border-radius: 6px;
    border: 2px solid #F9FAF8;
    padding: 6px 32px;
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 14px;
}

.call-to-action-text {
    color: #F9FAF8;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 48px 10%;
    text-align: center;
}